## Read in data

In [28]:
import pandas as pd
x_train = pd.read_csv('X_train.csv')
x_test = pd.read_csv('X_val.csv')
y_train = pd.read_csv('y_train.csv')
y_test = pd.read_csv('y_val.csv')

In [22]:
x_train

,country,team,season,md,outcome,Cluster,win,goals,gd,opp_gd,avg_starter_age,win%
0,4,154,2018,13,1,0,0,0.2,0.500000,0.500000,0.531856,0.076923
1,4,179,2010,19,1,0,0,0.1,0.500000,0.500000,0.443609,0.105263
2,2,31,2006,6,0,2,0,0.0,0.444444,0.555556,0.511278,0.500000
3,4,29,2013,18,2,2,1,0.1,0.555556,0.444444,0.514170,0.888889
4,1,170,2004,24,2,0,1,0.2,0.611111,0.388889,0.444976,0.375000
...,...,...,...,...,...,...,...,...,...,...,...,...
54752,2,2,2006,1,2,0,1,0.3,0.666667,0.333333,0.506073,1.000000
54753,3,157,2016,16,2,2,1,0.2,0.555556,0.444444,0.470588,0.562500
54754,4,142,2019,37,0,2,0,0.1,0.444444,0.555556,0.561404,0.270270
54755,2,189,2012,13,0,0,0,0.0,0.333333,0.666667,0.534413,0.307692
54756,1,28,2010,10,1,0,0,0.1,0.500000,0.500000,0.614035,0.000000

In [23]:
models_best = ['country', 'team', 'season', 'md', 'outcome', 'win%']
models_forward = ['season', 'md', 'team', 'country', 'avg_starter_age', 'outcome', 'win%', 'gd', 'goals', 'opp_gd', 'Cluster']
models_backward = ['country', 'team', 'season', 'md', 'outcome', 'win%', 'goals', 'gd', 'avg_starter_age']

##Models Best

In [4]:
x_train = x_train[models_best]
x_train

       country  team  season  md  outcome      win%
0            4   154    2018  13        1  0.076923
1            4   179    2010  19        1  0.105263
2            2    31    2006   6        0  0.500000
3            4    29    2013  18        2  0.888889
4            1   170    2004  24        2  0.375000
...        ...   ...     ...  ..      ...       ...
54752        2     2    2006   1        2  1.000000
54753        3   157    2016  16        2  0.562500
54754        4   142    2019  37        0  0.270270
54755        2   189    2012  13        0  0.307692
54756        1    28    2010  10        1  0.000000

[54757 rows x 6 columns]

In [5]:
x_test = x_test[models_best]
x_test

      country  team  season  md  outcome      win%
0           3    91    2015  24        0  0.208333
1           0   176    2004   8        2  0.375000
2           2   103    2015   3        0  0.333333
3           2   191    2008   2        1  0.500000
4           1    17    2020  14        1  0.214286
...       ...   ...     ...  ..      ...       ...
6080        0   105    2013  33        2  0.303030
6081        1   168    2012  35        0  0.228571
6082        1   128    2021   6        2  0.800000
6083        3    50    2012  13        2  0.384615
6084        3    10    2018  10        1  0.400000

[6085 rows x 6 columns]

In [ ]:
pip install interpret

In [8]:
from pandas.core.window.rolling import numba_notes
#Regression Models
from sklearn.linear_model import ElasticNet
from sklearn.ensemble import GradientBoostingRegressor as XGBRegressor
#Linear Regression ( https://www.w3schools.com/python/python_ml_multiple_regression.asp )
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
#Ridge Regression ( https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Ridge.html )
from sklearn import linear_model
ridge = linear_model.Ridge(alpha=.5)
#Lasso Regression ( https://towardsdatascience.com/hyperparameter-tuning-in-lasso-and-ridge-regressions-70a4b158ae6d )
from sklearn.linear_model import Lasso, LassoCV, LinearRegression
lasso = linear_model.Lasso(alpha=0.1)
#KNeighborsRegressor
from sklearn.neighbors import KNeighborsRegressor
neigh = KNeighborsRegressor(n_neighbors=2)
#Random Forrest ( https://towardsdatascience.com/random-forest-in-python-24d0893d51c0 )
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
#Decision Trees ( https://medium.com/pursuitnotes/decision-tree-regression-in-6-steps-with-python-1a1c5aa2ee16 )
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor()
#SVM - SVR
from sklearn import svm
SVM = svm.SVR()
#Gradient Boosting Regressor ( https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.GradientBoostingRegressor.html#sklearn.ensemble.GradientBoostingRegressor )
from sklearn.ensemble import GradientBoostingRegressor
gbr = GradientBoostingRegressor(random_state=0)
# create an xgboost regression model: higher performance than gradient boosting
import xgboost as xg
xgb = xg.XGBRegressor()
from interpret import show
from interpret.data import Marginal
from interpret.glassbox import ExplainableBoostingRegressor, LinearRegression, RegressionTree
ebm = ExplainableBoostingRegressor()

In [9]:
model_names = ['Multiple Regression', 'Ridge Regression', 'Lasso Regression', 'KNeighborsRegressor', 'Random Forrest', 'Decision Trees', 'SVM - SVR', 'Gradient Boosting Regressor', 'XGBoost', 'EBM']
models = [lm, ridge, lasso, neigh, rf, dt, SVM, gbr, xgb, ebm]

In [10]:
import numpy as np
import pandas as pd
from math import sqrt
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.metrics import r2_score
model_eval = []
for model in models:
  model.fit(x_train, y_train)
  predictions = model.predict(x_test)
  type(predictions)
  # Calculate the absolute errors
  errors = abs(predictions - y_test.values)
  # Calculate model evaluation metrics
  mae = mean_absolute_error(y_test, predictions)
  mse = mean_squared_error(y_test, predictions)
  rmse = sqrt(mse)
  r2 = r2_score(y_test, predictions)
  print(f'MODEL: {model}')
  print('Mean Absolute Error: ', mae, ' degrees.')
  print('Mean Squared Error:', mse, ' degrees')
  print('RMSE:', rmse, ' degrees')
  print('R2:', r2)
  model_eval.append({'Model': model, 'Mean Absolute Error': mae, 'Mean Squared Error': mse, 'RMSE': rmse,'R-squared': r2})

df = pd.DataFrame(model_eval)

MODEL: LinearRegression()
Mean Absolute Error:  0.05449489782986464  degrees.
Mean Squared Error: 0.006178964632159404  degrees
RMSE: 0.07860639053002881  degrees
R2: 0.39526718296151375
MODEL: Ridge(alpha=0.5)
Mean Absolute Error:  0.0544940460709019  degrees.
Mean Squared Error: 0.006178929999134703  degrees
RMSE: 0.07860617023576905  degrees
R2: 0.39527057248190056
MODEL: Lasso(alpha=0.1)
Mean Absolute Error:  0.06658166506829111  degrees.
Mean Squared Error: 0.009231487561364667  degrees
RMSE: 0.0960806305212693  degrees
R2: 0.09651797497199499
MODEL: KNeighborsRegressor(n_neighbors=2)
Mean Absolute Error:  0.02042103306655126  degrees.
Mean Squared Error: 0.001573195271778562  degrees
RMSE: 0.03966352571038739  degrees
R2: 0.8460320029179714

<ipython-input-10-f9a04acb1cd2>:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train, y_train)

MODEL: RandomForestRegressor()
Mean Absolute Error:  0.014165576354550161  degrees.
Mean Squared Error: 0.0008506357554047581  degrees
RMSE: 0.02916566055149031  degrees
R2: 0.9167486161091997
MODEL: DecisionTreeRegressor()
Mean Absolute Error:  0.016685284390470706  degrees.
Mean Squared Error: 0.0011349797084228793  degrees
RMSE: 0.0336894599010266  degrees
R2: 0.8889199862410896

/usr/local/lib/python3.9/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MODEL: SVR()
Mean Absolute Error:  0.07965342848149243  degrees.
Mean Squared Error: 0.010222786577420822  degrees
RMSE: 0.10110779681815257  degrees
R2: -0.0005000664304557478

/usr/local/lib/python3.9/dist-packages/sklearn/ensemble/_gb.py:437: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MODEL: GradientBoostingRegressor(random_state=0)
Mean Absolute Error:  0.03226885688827839  degrees.
Mean Squared Error: 0.002537793821561007  degrees
RMSE: 0.05037652053845131  degrees
R2: 0.7516271255562899
MODEL: XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)
Mean Absolute Error:  0.016420454453031672  degrees.
Mean Squared Error: 0.0007276466917730817  degrees
RMSE: 0.026974927094861288  degrees
R2: 0.9287855069707868
MODEL: ExplainableBoostingRegressor()
Mean Absolute Error:  0.03508516281568815  degrees.
Mean Squared Error: 0.0029314370404266163  degrees
RMSE: 0.054142746886601686  degrees
R2: 0.7131014199042889

In [11]:
df

,Model,Mean Absolute Error,Mean Squared Error,RMSE,R-squared
0,LinearRegression(),0.054495,0.006179,0.078606,0.395267
1,Ridge(alpha=0.5),0.054494,0.006179,0.078606,0.395271
2,Lasso(alpha=0.1),0.066582,0.009231,0.096081,0.096518
3,KNeighborsRegressor(n_neighbors=2),0.020421,0.001573,0.039664,0.846032
4,"(DecisionTreeRegressor(max_features=1.0, rando...",0.014166,0.000851,0.029166,0.916749
5,DecisionTreeRegressor(),0.016685,0.001135,0.033689,0.888920
6,SVR(),0.079653,0.010223,0.101108,-0.000500
7,([DecisionTreeRegressor(criterion='friedman_ms...,0.032269,0.002538,0.050377,0.751627
8,"XGBRegressor(base_score=None, booster=None, ca...",0.016420,0.000728,0.026975,0.928786
9,ExplainableBoostingRegressor(),0.035085,0.002931,0.054143,0.713101

## Forward

In [24]:
x_train = x_train[models_forward]
x_train

,season,md,team,country,avg_starter_age,outcome,win%,gd,goals,opp_gd,Cluster
0,2018,13,154,4,0.531856,1,0.076923,0.500000,0.2,0.500000,0
1,2010,19,179,4,0.443609,1,0.105263,0.500000,0.1,0.500000,0
2,2006,6,31,2,0.511278,0,0.500000,0.444444,0.0,0.555556,2
3,2013,18,29,4,0.514170,2,0.888889,0.555556,0.1,0.444444,2
4,2004,24,170,1,0.444976,2,0.375000,0.611111,0.2,0.388889,0
...,...,...,...,...,...,...,...,...,...,...,...
54752,2006,1,2,2,0.506073,2,1.000000,0.666667,0.3,0.333333,0
54753,2016,16,157,3,0.470588,2,0.562500,0.555556,0.2,0.444444,2
54754,2019,37,142,4,0.561404,0,0.270270,0.444444,0.1,0.555556,2
54755,2012,13,189,2,0.534413,0,0.307692,0.333333,0.0,0.666667,0
54756,2010,10,28,1,0.614035,1,0.000000,0.500000,0.1,0.500000,0

In [25]:
x_test = x_test[models_forward]
x_test

,season,md,team,country,avg_starter_age,outcome,win%,gd,goals,opp_gd,Cluster
0,2015,24,91,3,0.562753,0,0.208333,0.388889,0.0,0.611111,0
1,2004,8,176,0,0.517544,2,0.375000,0.555556,0.1,0.444444,0
2,2015,3,103,2,0.444079,0,0.333333,0.388889,0.1,0.611111,0
3,2008,2,191,2,0.550607,1,0.500000,0.500000,0.2,0.500000,0
4,2020,14,17,1,0.645933,1,0.214286,0.500000,0.0,0.500000,0
...,...,...,...,...,...,...,...,...,...,...,...
6080,2013,33,105,0,0.663743,2,0.303030,0.555556,0.1,0.444444,0
6081,2012,35,168,1,0.521930,0,0.228571,0.444444,0.1,0.555556,0
6082,2021,6,128,1,0.444976,2,0.800000,0.611111,0.2,0.388889,2
6083,2012,13,50,3,0.684211,2,0.384615,0.555556,0.2,0.444444,0
6084,2018,10,10,3,0.370614,1,0.400000,0.500000,0.1,0.500000,2

In [26]:
import numpy as np
import pandas as pd
from math import sqrt
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.metrics import r2_score
model_eval = []
for model in models:
  model.fit(x_train, y_train)
  predictions = model.predict(x_test)
  type(predictions)
  # Calculate the absolute errors
  errors = abs(predictions - y_test.values)
  # Calculate model evaluation metrics
  mae = mean_absolute_error(y_test, predictions)
  mse = mean_squared_error(y_test, predictions)
  rmse = sqrt(mse)
  r2 = r2_score(y_test, predictions)
  print(f'MODEL: {model}')
  print('Mean Absolute Error: ', mae, ' degrees.')
  print('Mean Squared Error:', mse, ' degrees')
  print('RMSE:', rmse, ' degrees')
  print('R2:', r2)
  model_eval.append({'Model': model, 'Mean Absolute Error': mae, 'Mean Squared Error': mse, 'RMSE': rmse,'R-squared': r2})

df = pd.DataFrame(model_eval)

MODEL: LinearRegression()
Mean Absolute Error:  0.041822015382564075  degrees.
Mean Squared Error: 0.004637396791775396  degrees
RMSE: 0.06809843457654072  degrees
R2: 0.5461398158811752
MODEL: Ridge(alpha=0.5)
Mean Absolute Error:  0.0418202041852137  degrees.
Mean Squared Error: 0.00463738050776371  degrees
RMSE: 0.0680983150141302  degrees
R2: 0.546141409590938
MODEL: Lasso(alpha=0.1)
Mean Absolute Error:  0.06658166500133263  degrees.
Mean Squared Error: 0.009231487556257616  degrees
RMSE: 0.09608063049469241  degrees
R2: 0.09651797547181995
MODEL: KNeighborsRegressor(n_neighbors=2)
Mean Absolute Error:  0.017831404231863548  degrees.
Mean Squared Error: 0.0011351912440085864  degrees
RMSE: 0.033692599246846276  degrees
R2: 0.8888992833372434

<ipython-input-26-f9a04acb1cd2>:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train, y_train)

MODEL: RandomForestRegressor()
Mean Absolute Error:  0.011598120005146545  degrees.
Mean Squared Error: 0.0003874969357892325  degrees
RMSE: 0.019684941853844336  degrees
R2: 0.9620758286341395
MODEL: DecisionTreeRegressor()
Mean Absolute Error:  0.014410822219038123  degrees.
Mean Squared Error: 0.0006698620524612658  degrees
RMSE: 0.025881693384731723  degrees
R2: 0.9344408666941155

/usr/local/lib/python3.9/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MODEL: SVR()
Mean Absolute Error:  0.07816905841030446  degrees.
Mean Squared Error: 0.009944021507443916  degrees
RMSE: 0.09971971473807933  degrees
R2: 0.02678256036783888

/usr/local/lib/python3.9/dist-packages/sklearn/ensemble/_gb.py:437: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MODEL: GradientBoostingRegressor(random_state=0)
Mean Absolute Error:  0.022052301363211874  degrees.
Mean Squared Error: 0.0010548369965773315  degrees
RMSE: 0.03247825421073817  degrees
R2: 0.896763521652705
MODEL: XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)
Mean Absolute Error:  0.013565985254017811  degrees.
Mean Squared Error: 0.00044104512669139917  degrees
RMSE: 0.02100107441754824  degrees
R2: 0.9568350884358476
MODEL: ExplainableBoostingRegressor()
Mean Absolute Error:  0.02289954269282455  degrees.
Mean Squared Error: 0.0011585225932589204  degrees
RMSE: 0.03403707674373521  degrees
R2: 0.8866158534428514

In [27]:
df

,Model,Mean Absolute Error,Mean Squared Error,RMSE,R-squared
0,LinearRegression(),0.041822,0.004637,0.068098,0.546140
1,Ridge(alpha=0.5),0.041820,0.004637,0.068098,0.546141
2,Lasso(alpha=0.1),0.066582,0.009231,0.096081,0.096518
3,KNeighborsRegressor(n_neighbors=2),0.017831,0.001135,0.033693,0.888899
4,"(DecisionTreeRegressor(max_features=1.0, rando...",0.011598,0.000387,0.019685,0.962076
5,DecisionTreeRegressor(),0.014411,0.000670,0.025882,0.934441
6,SVR(),0.078169,0.009944,0.099720,0.026783
7,([DecisionTreeRegressor(criterion='friedman_ms...,0.022052,0.001055,0.032478,0.896764
8,"XGBRegressor(base_score=None, booster=None, ca...",0.013566,0.000441,0.021001,0.956835
9,ExplainableBoostingRegressor(),0.022900,0.001159,0.034037,0.886616

## Backward

In [29]:
x_train = x_train[models_backward]
x_train

,country,team,season,md,outcome,win%,goals,gd,avg_starter_age
0,4,154,2018,13,1,0.076923,0.2,0.500000,0.531856
1,4,179,2010,19,1,0.105263,0.1,0.500000,0.443609
2,2,31,2006,6,0,0.500000,0.0,0.444444,0.511278
3,4,29,2013,18,2,0.888889,0.1,0.555556,0.514170
4,1,170,2004,24,2,0.375000,0.2,0.611111,0.444976
...,...,...,...,...,...,...,...,...,...
54752,2,2,2006,1,2,1.000000,0.3,0.666667,0.506073
54753,3,157,2016,16,2,0.562500,0.2,0.555556,0.470588
54754,4,142,2019,37,0,0.270270,0.1,0.444444,0.561404
54755,2,189,2012,13,0,0.307692,0.0,0.333333,0.534413
54756,1,28,2010,10,1,0.000000,0.1,0.500000,0.614035

In [30]:
x_test = x_test[models_backward]
x_test

,country,team,season,md,outcome,win%,goals,gd,avg_starter_age
0,3,91,2015,24,0,0.208333,0.0,0.388889,0.562753
1,0,176,2004,8,2,0.375000,0.1,0.555556,0.517544
2,2,103,2015,3,0,0.333333,0.1,0.388889,0.444079
3,2,191,2008,2,1,0.500000,0.2,0.500000,0.550607
4,1,17,2020,14,1,0.214286,0.0,0.500000,0.645933
...,...,...,...,...,...,...,...,...,...
6080,0,105,2013,33,2,0.303030,0.1,0.555556,0.663743
6081,1,168,2012,35,0,0.228571,0.1,0.444444,0.521930
6082,1,128,2021,6,2,0.800000,0.2,0.611111,0.444976
6083,3,50,2012,13,2,0.384615,0.2,0.555556,0.684211
6084,3,10,2018,10,1,0.400000,0.1,0.500000,0.370614

In [31]:
import numpy as np
import pandas as pd
from math import sqrt
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.metrics import r2_score
model_eval = []
for model in models:
  model.fit(x_train, y_train)
  predictions = model.predict(x_test)
  type(predictions)
  # Calculate the absolute errors
  errors = abs(predictions - y_test.values)
  # Calculate model evaluation metrics
  mae = mean_absolute_error(y_test, predictions)
  mse = mean_squared_error(y_test, predictions)
  rmse = sqrt(mse)
  r2 = r2_score(y_test, predictions)
  print(f'MODEL: {model}')
  print('Mean Absolute Error: ', mae, ' degrees.')
  print('Mean Squared Error:', mse, ' degrees')
  print('RMSE:', rmse, ' degrees')
  print('R2:', r2)
  model_eval.append({'Model': model, 'Mean Absolute Error': mae, 'Mean Squared Error': mse, 'RMSE': rmse,'R-squared': r2})

df = pd.DataFrame(model_eval)

MODEL: LinearRegression()
Mean Absolute Error:  0.054219266126005444  degrees.
Mean Squared Error: 0.006101627939297782  degrees
RMSE: 0.07811291787724858  degrees
R2: 0.40283609440846346
MODEL: Ridge(alpha=0.5)
Mean Absolute Error:  0.05421801597875198  degrees.
Mean Squared Error: 0.006101591929476625  degrees
RMSE: 0.07811268737840624  degrees
R2: 0.4028396186753731
MODEL: Lasso(alpha=0.1)
Mean Absolute Error:  0.06658166506829111  degrees.
Mean Squared Error: 0.009231487561364667  degrees
RMSE: 0.0960806305212693  degrees
R2: 0.09651797497199499
MODEL: KNeighborsRegressor(n_neighbors=2)
Mean Absolute Error:  0.0211436785222398  degrees.
Mean Squared Error: 0.0015966839131323941  degrees
RMSE: 0.03995852741446304  degrees
R2: 0.843733178907816

<ipython-input-31-f9a04acb1cd2>:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train, y_train)

MODEL: RandomForestRegressor()
Mean Absolute Error:  0.015111866156203487  degrees.
Mean Squared Error: 0.000933959144726031  degrees
RMSE: 0.030560745159862037  degrees
R2: 0.9085937890549723
MODEL: DecisionTreeRegressor()
Mean Absolute Error:  0.018504047786839468  degrees.
Mean Squared Error: 0.0014383098902299959  degrees
RMSE: 0.03792505623239069  degrees
R2: 0.8592331816942074

/usr/local/lib/python3.9/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MODEL: SVR()
Mean Absolute Error:  0.07970699274178268  degrees.
Mean Squared Error: 0.010237195476391339  degrees
RMSE: 0.1011790268602705  degrees
R2: -0.0019102596559537055

/usr/local/lib/python3.9/dist-packages/sklearn/ensemble/_gb.py:437: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MODEL: GradientBoostingRegressor(random_state=0)
Mean Absolute Error:  0.03200005423352026  degrees.
Mean Squared Error: 0.0025541142313195166  degrees
RMSE: 0.05053824523387725  degrees
R2: 0.7500298535283649
MODEL: XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)
Mean Absolute Error:  0.017422411404869012  degrees.
Mean Squared Error: 0.0008226300476312581  degrees
RMSE: 0.02868152798634093  degrees
R2: 0.9194895236176971
MODEL: ExplainableBoostingRegressor()
Mean Absolute Error:  0.03467749652367211  degrees.
Mean Squared Error: 0.0028788804313856107  degrees
RMSE: 0.05365519948137003  degrees
R2: 0.7182451143792402

In [32]:
df

,Model,Mean Absolute Error,Mean Squared Error,RMSE,R-squared
0,LinearRegression(),0.054219,0.006102,0.078113,0.402836
1,Ridge(alpha=0.5),0.054218,0.006102,0.078113,0.402840
2,Lasso(alpha=0.1),0.066582,0.009231,0.096081,0.096518
3,KNeighborsRegressor(n_neighbors=2),0.021144,0.001597,0.039959,0.843733
4,"(DecisionTreeRegressor(max_features=1.0, rando...",0.015112,0.000934,0.030561,0.908594
5,DecisionTreeRegressor(),0.018504,0.001438,0.037925,0.859233
6,SVR(),0.079707,0.010237,0.101179,-0.001910
7,([DecisionTreeRegressor(criterion='friedman_ms...,0.032000,0.002554,0.050538,0.750030
8,"XGBRegressor(base_score=None, booster=None, ca...",0.017422,0.000823,0.028682,0.919490
9,ExplainableBoostingRegressor(),0.034677,0.002879,0.053655,0.718245